<%- include('base/header', {dir_name: 'Not Found', css: '404', summit: 'Error', checkSum: {message: '', status: ''}}); %>

<div class="measure--class">
  <h2 class="not--found">
    <img src="/api/v1/icons/warning.png" alt="warning"> 
    <span>404, Page Not Found.</span>
  </h2>
</div>

<%- include('base/footer', {postReq: ''}); %>